<h2><%= @prompt.text %></h2>
<p><%= @draft.story %></p>
<%= link_to "All Drafts", prompt_drafts_path(prompt_id: @draft.prompt_id)%>
<%= link_to "Edit Draft", edit_prompt_draft_path(id: @draft.id)%>
<%= link_to "Delete Draft", prompt_draft_path(id: @draft.id), method: :delete%>
